<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>My Blog</h1>
  <hr>
  <ul>
    <% posts.forEach((post) => { %>
      <div>
        <img src="<%= post.imagePath %>" alt="<%= post.title %> Image">
        <li>
          <h2><%= post.slug %></h2>
          <p><a href="/blog/<%= post.slug %>">Read More</a></p>
        </li>
      </div>
    <% }); %>
  </ul>
  <footer>Stuff and things</footer>
</body>
</html>